---
import { getCollection } from "astro:content";

const aiPosts = await getCollection("ai-experiments");
const d2cPosts = await getCollection("disconnect-to-connect");
const allTags = [...aiPosts, ...d2cPosts]
  .flatMap((post) => post.data.tags ?? []);
---

<span> </span>
